<plugin name='jquery-ui' version='1.8.23' grailsVersion='2.1 &gt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>jQuery UI resources</title>
  <description>\
Simply supplies jQuery UI resources, depends on jQuery plugin. Use this plugin to avoid resource duplication and conflicts.
</description>
  <documentation>http://grails.org/plugin/jquery-ui</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JqueryUiPluginResources</resource>
    <resource>UrlMappings</resource>
    <resource>com.grailsrocks.jqueryui.JqueryUiTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='jquery' version='1.8.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>
